apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: result
  name: result
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
      - image: acreastus2sysdig.azurecr.io/voteapp/result:latest
        name: result
        resources:
          limits:
            cpu: 500m
            memory: 512mi
          requests:
            cpu: 250m
            memory: 256mi            
        ports:
        - containerPort: 80
          name: result
