name: Terraform Container Build

on:    
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize      

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  IMAGE_NAME: prosimo/terraform
  VERSION: latest

jobs:

  Build-Infrastructure:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Azure Container Instance
      run: |
        az deployment sub create --location eastus2 --template-file Infrastructure/main.bicep

  Build-Container:
    needs: Build-Infrastructure
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and Export Local Container
        run: |
          docker build . -t ${{ env.IMAGE_NAME }}:local

      - name: Login to registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.ACR_ENDPOINT }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Tag and push
        run: |
          docker tag ${{ env.IMAGE_NAME }}:local ${{ secrets.ACR_ENDPOINT }}/${{ env.IMAGE_NAME }}
          docker push ${{ secrets.ACR_ENDPOINT }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}